:root {
  --bg-color: #093909;
  --title-color: #fff;
  --subtitle-color: #b3ffec;
  --text-color: #c6ecc6;
  --main-color-1: #006114;
  --main-color-2: #093909;
  --location-color-1: #00e6ac;
  --location-color-2: #02614e;
}

.App {
  text-align: center;
  font-family: "Arial", "Arial", sans-serif;
}


.App-header {
  min-height: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 1vmin);
}

.title {
  background: var(--bg-color);
  padding: 3vh;
}

.subtitle {
  background: var(--subtitle-color);
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  padding: 2vw;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color: var(--bg-color);
}

#subtitle-heading {
  font-size: calc(8px + 2vw);
  width: 30%;
}
#subtitle-body {
  font-size: calc(7px + 1vw);
  width: 66%;
  padding: 2%;
}

h1 {
  margin: 0px;
  padding: 0px;
  font-family: "Arial Black", "Arial", sans-serif;
  font-size: calc(10px + 2.5vw);
  color: var(--title-color);


}
